@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf)
}

.banner-text {
    font-family: norse-bold;
    font-size: 64px;
    color: white;
}

body {
    display:flex;
    flex-direction: row;
    margin: 0px 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
} 

.banner {
    position: relative;
    display:flex;
    height: 100vh;
}

.banner-black-background {
    display: flex;
    height: 100px;
    width: 400px;
    background-color: #000000;
    opacity: 40%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px; 
    height: 100vh;
}

.form-intro {
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 100px;
    background-color: #f1f7f8;
    height: 30vh;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 30px;
    padding-right: 100px;
    padding-bottom: 0px;
    background-color: white;
    height: 40vh;
}

.form-fields-r1, .form-fields-r2, .form-fields-r3 {
    display: flex;
    gap: 45px;
}

.first-name, .last-name, .email, .phone-number, .password, .confirm-password {
    display: flex;
    flex-direction: column;
}


.form-end {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 100px;
    background-color: #f1f7f8;
    height: 30vh;
}

label {
    font-family: helvetica;
    font-size: 0.5rem;
    letter-spacing: 1px;
}

.ending-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    margin-top: 20px;
}

.ending-text-link {
    color: #596D48;
    font-weight: 600;
}

input {
    border-color: #E5E7EB;
    border-radius: 3px;
    border-width: 1px;
    width: 170px; 
}

button {
    color: white;
    font-size: 0.7rem;
    background-color: #596D48;
    border-radius: 5px;
    padding: 5px 30px;
}

input:focus {
    outline: none;
    border: 0.25px solid blue;
    box-shadow: 1px 1px 3px #ccc;
    
}


/* use calc for the form section heights? */







